prod_ingest_alpaca_market_data_to_s3_daily.json
{
  "name": "prod_ingest_alpaca_market_data_to_s3_daily",
  "nodes": [
    {
      "parameters": {
        "url": "https://data.alpaca.markets/v2/stocks/bars",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "AAPL,MSFT,NVDA"
            },
            {
              "name": "timeframe",
              "value": "1Day"
            },
            {
              "name": "start",
              "value": "2026-07-01"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "YOUR_ALPACA_KEY_ID_HERE"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "YOUR_ALPACA_SECRET_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6c2ae0c0-8ff3-4bd9-9c4b-764653e0d732",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "financial-data-lake-raw-eoc",
        "fileName": "=market_data_{{$today.format('yyyy-MM-dd')}}.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json.bars) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "ebf60a99-3657-47fd-900b-e3f1a215d455",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "ns2pQPZwhA5QKnTo",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "15b4b166-8ead-4536-8858-39ae4d239292",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "31c904c0-38be-4c05-ab3f-507237537227",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfcdd065ba7caa3e14a144a5146932ad51c4e474b0e12d3118ecb36761f70356"
  },
  "nodeGroups": [],
  "id": "M0sIAQDPVSOuUMsm",
  "tags": []
}